@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

$primary: #46C9FF;
$secondary: #F75653;
$background-color: #F6FBFF;
$light: white;
$dark: #2C344E;


$yiq-contrasted-threshold:  200;

$input-btn-padding-y: .8rem;
$spacer: 2rem;
