@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

$primary: #46C9FF;
$secondary: #F75653;
$background-color: #F6FBFF;
$separator-color: #E7EAF2;
$light: white;
$dark: #2C344E;
$input-placeholder-color: #B6C4D8;

$yiq-contrasted-threshold:  200;

$input-btn-padding-y: .8rem;
$input-btn-padding-x: .8rem;
$spacer: 2rem;

$modal-header-border-width: 0px;
$modal-inner-padding: 2rem;
$modal-footer-margin-between: 1rem;
$modal-content-border-radius: .8rem;
$modal-content-border-width: 0px;
